
.nav-item:hover {
  background-color: #FFF3F4;
}
.nav-link:hover span {
    color: red;
}

.floating-group {
  position: relative;
  margin-bottom: 20px; /* Space between the rows */
}

.form-control {
  /* border: 1px solid #ADADAD !important; */
  padding: 12px;
  width: 100%;
  height: 50px; /* Force equal height for all inputs */
  outline: none;
  border-radius: 4px;
  background: transparent;
}

/* Initial state: Centered inside the input */
.floating-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%); /* Perfectly centers vertically */
  background-color: white; 
  padding: 0 5px;
  color: #999;
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 10;
}

/* Movement: Moves to SIT ON the border line */
.form-control:focus + .floating-label,
.form-control:not(:placeholder-shown) + .floating-label {
  top: 0; /* Moves to the top edge */
  transform: translateY(-50%); /* Keeps it centered ON the line */
  font-size: 12px;
  color: #212529; /* Darker color for better readability */
  font-weight: 500;
}


.form-control:disabled:not(:placeholder-shown) + .floating-label {
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
}
/* Target the label only when the input has the [disabled] attribute */
.form-control:disabled + .floating-label {
  color: #ADADAD !important; /* Matches your input text color */
  background-color: #fff;    /* Ensures it still cuts the border */
  cursor: not-allowed;       /* Shows the 'disabled' cursor */
  opacity: 0.7;              /* Optional: makes it look slightly faded */
}

/* Ensure the label stays on the border because the input has a value ("John Doe") */
.form-control:disabled:not(:placeholder-shown) + .floating-label {
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
}
.custom-red-radio .form-check-input:checked {
  background-color: red;
  border-color: red;
}







